.upsell {
    padding: 40px !important;
    border: 1px solid #eee;
}

.upsell .fas {
    font-size: 150px;
}

.ngg-marketing-block-wrapper {
    clear: both;
    margin-top: 50px;
}

.ngg-marketing-block-wrapper ul {
    list-style: disc;
}

.ngg-block-popup .wp-block-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ngg-block-popup .fas {
    font-size: 100px;
    color: #9fbb1a;
}

.ngg-block-card .ngg-block-card-title {
    display: flex;
}

.ngg-block-card .ngg-block-card-title h2 {
    margin-left: 15px;
}

.ngg-block-card .ngg-block-card-title img {
    width: 50px;
    height: 50px;
}
