.upsell {
    padding: 40px !important;
    border: 1px solid #eee;
}

.upsell .fas {
    font-size: 150px;
}

.ngg-marketing-block-wrapper {
    clear: both;
    margin-top: 50px;
}

.ngg-marketing-block-wrapper ul {
    list-style: disc;
}

.ngg-marketing-block-card {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    max-height: 350px;
    background: white;
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #ddd;
    min-height: 460px;
}

.ngg-marketing-block-card-title {
    margin: 1em 1em 1.5em 1em;
}

.ngg-marketing-block-card-description {
    margin: 0 20px;
    flex-grow: 1;
}

.ngg-marketing-block-card-thumbnail {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.ngg-marketing-block-card-button-wrapper {
    border-top: 1px solid #ddd;
    background: #f7f7f7;
    padding: 20px 0 20px 0;
}

#ngg_page_content .ngg-marketing-block-card-button,
.ngg-marketing-block-card-button {
    color: white;
    background-color: #9fbb1a;
    padding: 10px 30px 10px 30px;
    border: none;
    text-decoration: none;
}

#ngg_page_content .ngg-marketing-block-card-button:hover,
.ngg-marketing-block-card-button:hover {
    cursor: pointer;
    background-color: #81990c;
}
